doctype 5
html(lang="en")
  head
    title= pageTitle
  body
    h1 Bartender Bot
    #leftSide.sidemenu
      p
        | Total Users: 
        =totalUsers
      p
        =uptime
      p
        a(href='/restart') Restart Bartender
    #middle.content
      h2 Chat
      #chat
        each message in messages
          p(class='message') #{message}
    #right.sidemenu
      h2 Banned Users