doctype 5
html(lang="en")
  head
    title People
  body
    h1 People - Bartender Bot

    each person in people
      if person.messaged
        p(class='person') * #{person.name} - #{person.time}
      else
        p(class='person') #{person.name} - #{person.time}
